{% extends 'base.html.twig' %}

{% block title %}Productos{% endblock %}

{% block body %}
    <h3>Productos de <select style="width: 450px;">
            {% for negocio in negocios %}
                <option value="{{ negocio.id }}">{{ negocio.nombre }}</option>
            {% endfor %}
        </select></h3>


    <div class="container-fluid" style="width: 95%;">
        <div class="row">

            <div class="table-responsive" id="mydatatable-container">

                <div class="table-responsive" id="mydatatable-container">

                    <table class="records_list table table-striped table-bordered table-hover w-100" id="mydatatable">

                        <thead class="thead-dark">
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Description</th>
                            <th>Precio</th>
                            <th>Activo?</th>
                            <th>En Promocion?</th>
                            <th>::</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for producto in productos %}
                            <tr>
                                <td>{{ producto.id }}</td>

                                <td>{{ producto.nombre }}</td>
                                <td>{{ producto.Description }}</td>
                                <td>{{ producto.precio }}</td>
                                <td>{{ producto.activo ? 'Yes' : 'No' }}</td>
                                <td>{{ producto.promocion ? 'Yes' : 'No' }}</td>

                                <td>
                                    <a href="{{ path('producto_show', {'id': producto.id}) }}" class="btn btn-secondary" role="button">Editar</a>
                                    <a href="{{ path('producto_edit', {'id': producto.id}) }}" class="btn btn-secondary" role="button">Inactivar</a>
                                    <a href="{{ path('producto_edit', {'id': producto.id}) }}" class="btn btn-secondary" role="button">En promocion</a>
                                    <a href="{{ path('producto_edit', {'id': producto.id}) }}" class="btn btn-secondary" role="button">Cargar una imagen</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="12">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>

                        <div class="form-group">
                            <a class="btn btn-primary" href="{{ path('producto_new') }}" role="button">Crear Producto</a>
                        </div>
                        </tfoot>

                    </table>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
