{% extends 'base.html.twig' %}

{% block title %}Nuestros Clientes{% endblock %}

{% block body %}


    <div class="form-group">
        <a class="btn btn-primary" href="{{ path('negocio_new')  }}" role="button">Registrar Nuevo Cliente</a>
    </div>

    <!-- card -->
    <div class="container-fluid" style="width: 99%;">
        <div class="card bg-light "  style="width: 99%;" >
            <div class="card-body " style="width: 100%;" >
                <div class="card-header">Nuestros Clientes.</div>

                <table class="table table-striped table-bordered table-hover w-100" id="mydatatable">
                <thead>
                    <tr>
                        <th>::</th>
                        <th style="width: 300px;">Nombre</th>
                        <th style="width: 300px;">website</th>
                        <th style="width: 300px;">Menu URL</th>
                        <th>Telefono</th>
                        <th>Activo?</th>
                        <th> </th>
                        <th> </th>
                        <th> </th>
                    </tr>
                </thead>

                <tbody>
                {% for negocio in negocios %}
                    <tr>
                        <td>{{ negocio.id }}</td>
                        <td>{{ negocio.nombre }}</td>
                        <td><a href="{{ negocio.website }}" target="_blank">{{ negocio.website }} </a> </td>
                        <td><a href="{{ negocio.emenuurl }}" target="_blank">{{ negocio.emenuurl }}</a> </td>
                        <td>{{ negocio.telefono }}</td>
                        <td>{{ negocio.estatus ? 'Yes' : 'No' }}</td>

                        <td><a class="btn btn-info" href="{{ path('negocio_show',{'id': negocio.id} ) }}" role="button">ver</a></td>
                        <td><a class="btn btn-primary" href="{{ path('producto_index', {'id': negocio.id} )  }}" role="button">Editar Menu</a></td>
                        <td><a class="btn btn-secondary" href="{{ path('categorias_negocio', {'id': negocio.id} ) }}" role="button">Categorias</a></td>
                        <td><a class="btn btn-warning" href="{{ path('negocio_edit', {'id': negocio.id}) }}" role="button">Negocio</a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="10">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                </tfoot>

                </table>

            </div>
        </div>

    </div>




{% endblock %}


